<h1 class="text-xl font-bold">About</h1>
<p>
  <a href="https://railstutorial.jp/" class="underline decoration-sky-500">
    <span class="text-sky-500">Ruby on Rails Tutorial</span>
  </a>
  is a
   <a href="https://railstutorial.jp#ebook" class="underline decoration-sky-500">
    <span class="text-sky-500">book</span>
   </a> and
   <a href="https://railstutorial.jp/screencast" class="underline decoration-sky-500">
    <span class="text-sky-500">screencast</span>
   </a>
   to teach web development with
   <a href="https://rubyonrails.org/" class="underline decoration-sky-500">
    <span class="text-sky-500">Ruby on Rails</span>
   </a>.
  <br>
  This is the sample application for the tutorial.
</p>
