<% provide(:title, 'Contact') %>
<h1 class="text-xl font-bold">Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact" class="underline decoration-sky-500">
    <span class="text-sky-500">contact page</span>
  </a>.
</p>
