<% provide(:title, 'Help') %>
<h1 class="text-xl font-bold">Sample App</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/help" class="underline decoration-sky-500">
    <span class="text-sky-500">Rails Tutorial help page</span>
  </a>.
  <br>
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook" class="underline decoration-sky-500">
    <span class="text-sky-500"><em>Ruby on Rails Tutorial</em> book</span>
  </a>.
</p>
