<h1 class="text-xl font-bold">Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/" class="underline decoration-sky-500">
    <span class="text-sky-500">Ruby on Rails Tutorial</span>
  </a>
   sample application.
</p>
