<div class="p-6 shadow-lg rounded-lg bg-gray-100 text-gray-700">
  <h1 class="text-xl font-bold">Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/" class="underline decoration-sky-500">
      <span class="text-sky-500">Ruby on Rails Tutorial</span>
    </a>
    sample application.
  </h2>

  <br>
  <%= link_to "Sign up now!", "#", class: "text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
</div>
