<li class="flex pb-3">
  <%= gravatar_for user, size: 50 %>
  <div class="pl-3">
    <a href="<%= user_path(user) %>" class="underline decoration-sky-500">
      <strong class="text-sky-500"><%= user.name %></strong>
    </a>
  </div>
  <% if current_user.admin? && !current_user?(user) %>
    <div class="pl-3">
      <%= link_to "delete", user, data: { turbo_method: :delete, confirm: "You sure?" }, class: "underline decoration-sky-500" %>
    </div>
  <% end %>
</li>
