<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="p-6 bg-gray-100 text-gray-700">
  <h1 class="pb-6 text-xl font-bold">Sign up</h1>

  <div class="grid grid-cols-1 grid-rows-1 gap-4 text-sm font-bold leading-6 bg-stripes-fuchsia rounded-lg">
    <%= render 'form' %>
  </div>
</div>
