<footer class="p-4 bg-white md:px-4 md:py-6">
  <hr class="border-gray-200 sm:mx-auto dark:border-gray-400 lg:my-6" />
  <div class="sm:flex sm:items-center sm:justify-between">
    <small>
      The <a href="https://railstutorial.jp/" class="hover:underline">Ruby on Rails Tutorial</a>
      by <a href="https://www.michaelhartl.com/" class="hover:underline">Michael Hartl</a>
    </small>
    <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
      <li><%= link_to "About", about_path, class: "mr-4 hover:underline md:mr-6" %>
      <li><%= link_to "Contact", contact_path, class: "mr-4 hover:underline md:mr-6" %>
      <li><a href="https://news.railstutorial.org/" class="mr-4 hover:underline md:mr-6 ">News</a></li>
    </ul>
  </div>
</footer>
